body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}




h1{
    text-align: center;
    margin: 20px 0;
    
}

#my-button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
}


#result{
    margin-top:20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}


.search input{
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    

}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #e9e9e9;
    padding: 10px;
    width: 100%;
    max-width: 600px;
    
}
